

.faq-container {
  display: flex;
  gap: 110px;
  .faq-item {
    .faq-question {
      padding-bottom: 11px;
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      
      display: flex;
      justify-content: space-between;

      span {
        display: none;
      }
    }

    .faq-answer {
      h5 {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        a {
          color: var(--grey-darkest);
        }
        .atendimento-footer {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .faq-container {
    flex-direction: column;
    gap: 0;
    .faq-item {
      border-bottom: 1px solid var(--strocker-color);

      .faq-question {
        padding: 16px 0;
        cursor: pointer;
        span {
          display: block;
          transition: transform 0.3s ease;
        }
        .rotated  {
          transform: rotate(180deg);
        }
      }
      .faq-answer {
        max-height: 0px;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.3s ease;
      }

      .open {
        max-height: 140px;
      }
    }

    .faq-item:nth-of-type(1){
      border-top: 1px solid var(--strocker-color);
    }
  }
}
