@use "brand_bogos";
@use "security-seals";
@use "faq-toggle";

footer {
  max-width: 1259px;
  margin: 0 auto;
  .footer-header {
    display: flex;
    justify-content: space-between;
    padding: 64px 50px;

    .footer-social-links {
      display: flex;
      flex-direction: column;
      gap: 40px;
      .social-links {
        display: flex;
        gap: 40px;
        align-items: center;
        span {
          img {
            width: 100%;
            max-width: 26px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    .footer-header {
      padding: 40px 16px;
      flex-direction: column;

      gap: 48px;

      .footer-social-links {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
      }
    }
  }
}
