.menu {
  position: relative;
  .menu-list {
    padding: 20px 0;
    max-width: 1259px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
   

    li {
      display: flex;
      gap: 10px;

      .menu-toggle {
        display: flex;
        align-items: center;
        // gap: 8px;
        a {
          font-weight: bolder;
        }

        &:hover {
          color: var(--primary-color) !important;
        }
      }

      a {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: var(--text-color);
        &:hover {
          color: var(--primary-color);
          font-weight: 700;
          // background: none;
        }
      }
    }
  }
  .container-menu {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: 1261px;
    margin: auto;
    background-color: var(--background);

    box-shadow: 0px 4px 8px -1px #0000001A;
    border-radius: 10px;
    
    
    .container-category {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 18px;
      align-items: stretch;
      max-height: 329px;

      .category-links {
        display: flex;
        flex-direction: column;
        max-width: 234px;
        width: 100%;
        overflow-y: scroll;
        padding-right: 14px;
        padding: 20px 20px 11px 16px;
        background: #F5F5F5;
        max-height: 329px;

        &::-webkit-scrollbar {
          width: 3px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #cecece;
        }

        .accordion {
          display: flex;
          justify-content: space-between;
          padding-bottom: 12px;
          font-weight: 400;
          font-size: 14px;

          color: var(--grey-darkest);
          .arrow {
            padding-left: 90px;
          }
        }
      }

      .panel-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 17px;
        padding: 18px 16px 11px 16px;
        
        .panel-wrapper {
          display: flex;
          flex-direction: column;
          gap: 17px;
          width: 100%;

          p {
            display: none;
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0px;
          }
          .panel-content {
            display: flex;
            // gap: 126px;
            max-width: 446px;
            width: 100%;
            justify-content: space-between;

            .product-list {
              
              flex-wrap: wrap;
              li {
                padding-bottom: 12px;
                max-width: 172px;
                width: 100%;
                a {
                  font-weight: 400;
                  font-size: 14px;
  
                  color: var(--text-color-second);
                  &:hover {
                    color: var(--primary-color);
                    font-weight: 700;
                  }
                }
              }
            }
          }
          
        }
        .card-panel {
          max-width: 236px;
          width: 100%;
          max-height: 298px;
          height: 298px;
          border-radius: 10px;
          background:
            linear-gradient(
              90deg,
              rgba(0, 0, 0, 0.75) -20.45%,
              rgba(0, 0, 0, 0) 138.31%
            ),
            url("../../src/assets/3d-mug-mockup-2.png");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
  
          padding: 43px 23px;
  
          h2 {
            color: var(--background);
            font-weight: 400;
            font-size: 24px;
            line-height: 27px;
            letter-spacing: -0.5%;
            padding-bottom: 40px;
  
            strong {
              font-weight: 700 !important;
              color: var(--background);
            }
          }
  
          button {
            font-weight: 700;
            font-size: 12px;
  
            text-align: center;
            text-transform: uppercase;
            padding: 10px 24px;
            border-radius: 10px;
            color: var(--background);
  
            border: 1px solid var(--background);
          }
        }
      }

    }

    .active {
      color: var(--primary-color) !important;
      font-weight: 700 !important;
    }
  }
}


@media screen and (max-width: 768px) {
  .menu {
    .menu-list {
      display: none;
    }

    .container-menu {
      .container-category {
        flex-direction: column;
        max-height: fit-content;

        .category-links {
          max-width: 100%;
          max-height: 300px;
        }
        .panel-container {
          height: 100%;
          .panel-content {
            gap: 16px;
            max-width: 100%;
            width: 100%;
          }
        }
        .card-panel {
          display: none;
        }
      }
    }
  }
}
