.newsletter {
  margin: 64px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 0 14px;

  h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    span {
      color: var(--primary-color);
    }
  }

  #form-newsletter {
    width: 100%;
    background-color: var(--background-color-addres);
    padding: 64px 0;

    display: flex;
    justify-content: center;
    gap: 24px;
    border-radius: 8px;

    input {
      padding: 15px 24px;
      width: 280px;
      background-color: var(--background);
      border-radius: 8px;
      outline: none;
      border: none;
      &[placeholder] {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
      }
    }

    .checkbox-content {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: space-evenly;
      .checkbox {
        max-width: 16px;
        height: 16px;

        #checkbox {
          max-width: 16px;
          height: 16px;
          border-radius: 4px;
          border-width: 1px;
        }
      }
      p {
        font-weight: 700;
        font-size: 12px;
        line-height: 100%;
        color: var(--dark-grey);
        a {
          font-weight: 700;
          font-size: 12px;
          line-height: 100%;
          text-decoration: underline;
          text-decoration-style: solid;
          color: var(--dark-grey);
        }
      }
    }

    button {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-align: center;

      padding: 14px 24px;
      background-color: var(--primary-color);
      color: var(--background);
      border-radius: 8px;
    }
  }
}

@media screen and (max-width: 768px) {
  .newsletter {
    gap: 16px;
    #form-newsletter {
      flex-direction: column;
      text-align: center;
      padding: 38px 16px;
      // .checkbox-content {}
      input {
        width: 100%;
        background-color: var(--background);
        &[placeholder] {
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
        }
      }
    }
  }
}
