.section-product-highlight {
  display: flex;
  gap: 37px;
  align-items: center;
  padding: 0 56px;
  padding-top: 48px;
  margin-bottom: 55px;
  .product-highlight-img {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 32px 77px;
    background-color: var(--product-highlight-color);
    width: 100%;
    img {
      max-width: 523px;
      width: 100%;
    }
  }

  .product-highlight-details {
    width: 100%;
    h2 {
      font-weight: 700;
      font-size: 30px;
      line-height: 140%;
      text-transform: uppercase;  
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      padding-top: 22px;
    }
  }
}

@media screen and (max-width: 768px) {
  .section-product-highlight {
    flex-direction: column;
    padding: 0 ;
    padding-top: 28px;
    .product-highlight-img {
      padding: 0;
    }
  }

  .product-highlight-details {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 16px;
    h2 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }
}
