:root {
    --primary-color: #005CFF;

    --text-color: #000000;
    --text-color-second: #656565; 
    --text-color-third: #707070;
    --grey-darkest: #303030;

    --text-highlight: #00264E;
    --strocker-color: #DEDEDE;

    --background: #FFF;

    --nunito-sans-font: "Nunito Sans", sans-serif;
    --nunito-font-second: "Nunito", sans-serif;

}