:root {
    --primary-color: #005CFF;

    --text-color: #000000;
    --text-color-second: #656565; 
    --text-color-third: #707070;
    --baner-color: #E7E7EA ;
    --grey-darkest: #303030;

    --text-highlight: #00264E;
    --strocker-color: #DDDDDD;

    --button-discount: #5EC0BE;
    --buy-button: #005CFF;
    --product-highlight-color: #C2C2C2;

    --background: #FFF;

    --nunito-sans-font: "Nunito Sans", sans-serif;
    --nunito-font-second: "Nunito", sans-serif;

}